name: Deploy to GitHub Pages Repo

on:
  push:
    branches: [ main ]

jobs:
  deploy:
    runs-on: ubuntu-latest
    
    steps:
    - name: Checkout main repo
      uses: actions/checkout@v4
      with:
        fetch-depth: 0
    
    - name: Setup Git
      run: |
        git config --global user.name "GitHub Actions"
        git config --global user.email "actions@github.com"
    
    - name: Deploy to GitHub Pages repo
      env:
        GH_PAGES_TOKEN: ${{ secrets.ACTIONS_DEPLOY_KEY }}
      run: |
        git clone git@github.com:rand0mRU/rand0mRU.github.io.git gh-pages-repo

        rm -rf gh-pages-repo/comport/*
        mkdir -p gh-pages-repo/comport
        
        cp -r ./*.html ./*.md ./*.js gh-pages-repo/comport/
        
        cd gh-pages-repo
        git add .
        git commit -m "[webCOMPort] Auto-deploy from main: ${{ github.sha }}"
        git push
